body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #555;
  font-size: 16px;
  padding: 10px 10px; 
}

.form {
  background-color: #4CAF50; /* Green */
  border-style: rounded;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#cardlist {
  border-style: rounded;
  padding: 0px 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.cardlistElem {
  background-color: beige;
  padding: 0px 5px;
}

#abc {
  background-color: rgb(211, 211, 211);
  padding: 0px 5px;
  word-wrap: break-word;
}